<section class="createPost">
	<div class="composeHeader">
		<a class="closeButton" href="/">
			<div class="iconContainer">
				<svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" fill="#0F1729" />
				</svg>
			</div>
		</a>
		<h1>Create Post</h1>
		<button class="postButton" type="submit">Post</button>
	</div>
	<form class="createPostForm" action="/post/create" method="POST" enctype="multipart/form-data">
		<%- include('partials/userBadge.ejs') %>
		<div class="inputField">
			<select name="feeling" id="feeling">
				<option value <%= `${ !formFieldData?.feeling ? 'selected' : '' }` %> disabled>Choose a feeling</option>
				<% feelings.forEach(feeling => { %> <option value="<%= feeling.id %>" <%= `${ formFieldData?.feeling?.value === `${feeling.id}` ? 'selected' : ''}` %>><%= feeling.name + feeling.emoji  %></option>
				<% })%>
			</select>
			<% if (formFieldData?.feeling?.error) {%>
			<p class="errorMessage"><%= formFieldData?.feeling?.error %></p>
			<% } %>
		</div>
		<div class="inputField">
			<textarea name="postDescription" id="postDescription" placeholder="What do you want to talk about?" maxlength="63206"></textarea>
			<% if (formFieldData?.postDescription?.error) {%>
			<p class="errorMessage"><%= formFieldData?.postDescription?.error %></p>
			<% } %>
		</div>
		<div class="inputField">
			<input type="file" id="mediaUploads" name="mediaUploads" accept="image/*" multiple hidden />
			<div class="mediaUploadsPreview">

			</div>
			<% if (formFieldData?.mediaUploads?.error) {%>
			<p class="errorMessage"><%= formFieldData?.mediaUploads?.error %></p>
			<% } %>
		</div>
		<div class="postAdditionOptions">
			<h2>Add to your post</h2>
			<button class="postAdditionOption" type="button" id="addMediaOption">
				<span class="iconContainer">
					📷
				</span>
				<span>
					+
				</span>
				<h3>Media</h3>
			</button>
		</div>

	</form>
	<script src="/createPost.js" defer></script>
	<script src="/removeInputErrorMessages.js" defer></script>
    <script src="/addMediaUpload.js" defer></script>
</section>